*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

house{
    padding-inline: 50px;
}

body{
    height: 100vh;
}

#section-container{
    background-image: url(IMAGES/visible\ section.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    display: flex;
    height: 64px;
    align-items: center;
    text-align: center;
    padding: 40px 100px;
    background-color: #000;
}

.logo{
    box-shadow: 0 0 3px rgb(0, 0, 0);
}

nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #fff;
    padding-inline: 20px;
    font-weight: 400;
    font-size: 16px;
}
nav ul li a i{
    color: rgb(255, 255, 255);
    padding-right: 10px;
}

/*----------- Hero section start------------ */

header{

    padding-inline: 100px;
    position: relative;
    top: 0;
    overflow: hidden;
    height: 90vh;
    margin-bottom: 5rem;
    background-color: rgb(0, 0, 0);
    background-image: url(IMAGES/hero\ background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;

}

.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    height: 100%;
}

.header-left h1{
    font: 64px;
    font-weight: 600;
}
.header-left p{
    margin: 1.2rem 0 2.4rem;
    font-size: 24px;
    font-weight: 400;
    width: 30rem;
    color: #cec8c8;
}
.header-left button{
    background-color: transparent;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    width: 197px;
    height: 52px;
    border-radius: 15px;
    
    border: 1px solid #d5d1d1;
}
.header-left button a{
    font-size: 20px;
    color: #cec8c8;
}
.header-left button:hover{
    background: rgb(4, 110, 171);
    transition: 0.5s;
}


.header-right{
    position: relative;
    top: 30px;
}

/*----------- Hero section end------------ */

/*----------- New arrival section start------------ */

.wrapper{
    margin-bottom: 50px;
    display: flex;
    overflow-x: auto;
    margin-bottom: 0;
    position: relative;
}

.wrapper::-webkit-scrollbar{
    width: 0;
}

.wrapper .item{
    width: 300px;
    margin-left: 30px;
    box-shadow: 0 0 6px #a4a0a0;
    border-radius: 15px;
}

.wrapper .item img{
    width: 100%;
}
.wrapper .text{
    background-color: #100E0E;
    width: 17rem;
    padding-left: 13px;
    padding-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.text p{
    color: #d3caca;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
}
.text p i{
    color: rgb(255, 0, 0);
    padding-left: 9px;
}
.text h1{
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}
.text .rating{
    color: yellow;
    display: flex;
    justify-content: space-between;
}
.text .rating #carts{
    color: white;
    padding-left: 110px;
    padding-bottom: 10px;
    position: relative;
    bottom: 5px;
    position: relative;
    right: 13px;
}
.new{
    padding-left: 26px;
    padding-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
}
.best-sellers .new{
    padding-left: 26px;
    padding-bottom: 50px;
    padding-top: 50px;
    font-size: 40px;
}


/*----------- New arrival section end------------ */


/*----------- Client testimonies section start------------ */
.client-textimonies{
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.client-textimonies h1{

    text-align: center;
    font-size: 36px;
    font-weight: 700;
    padding-top: 80px;
    padding-bottom: 18px;
}


.costomer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 5px #bdbbbb;
    border-radius: 10px;
    width: 80%;
    height: 250px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 90px;
}

.costomer .imag1 img{
    position: relative;
    bottom: 110px;
    right: 20px;
    width: 150%;
}

.costomer .text1{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.costomer .text1 p{
    line-height: 49px;
    font-size: 36px;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 55px;
}
.costomer .nora{
    padding-top: 20px;
    text-align: end;
    padding-right: 100px;
    font-size: 22px;
}

/*----------- Client testimonies section end------------ */